*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


body {
    background-color: #f0f0f0;
}


.wrapper{
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    padding: 15px;


    display: flex;
    flex-direction: column;
    gap: 15px;
}


/* Deixei o Main como o único que cresce verticalmente */
main, footer {
    flex: 1;
}


header, footer {
    display: flex;
    gap: 15px;
}


section {
    flex: 1;
}


.secao-maior {
    flex: 2;
}


main, section {
    background-color: white;
    min-height: 80px;
    border: 3px solid black;
    box-shadow: 6px 6px 3px rgba(0,0,0,0.2);
   
    display: flex;
    justify-content: center;
    align-items: center;
   
    transition: all 0.3s ease;
}


main:hover,
section:hover {
    cursor: pointer;
    box-shadow: none;
    background-color: rgb(226, 226, 226);
}
